/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 30px;
}

#new_upload {
  border: 2px dashed #337ab7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.message {
  margin-top: 20px;
}

.faded {
  opacity: 0.5;
}

.field-required {
  border: 2px solid #a94442;
}

.error-message {
  color: #a94442;
  font-weight: bold;
}

#firebase_app {
  padding: 5px;
}

.upload-complete {
  position: relative;
  left: -10px;
  top: -3px;
}

.upload-success, .upload-failure {
  display: none;
  font-size: 1.5em;
}

.upload-success {
  color: #5cb85c;
}

.upload-failure {
  color: #d9534f;
}

// loading spinner
// from http://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
